{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
{% endblock %}
{% block content %}

  <main id="content" role="main">


<p style="font-size: 1.5rem; line-height: 1.25; padding:20px; font-weight:bold; border: 5px solid #1d70b8;">This prototype is no longer being worked on, <a href="https://close-a-company-prototype-25f63a2f0a27.herokuapp.com/">there is a new version</a>. Contact a member of the User Centred Design team for the password.</p>



    <h1 class="govuk-heading-xl">
      Shortcuts
    </h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h2 class="govuk-heading-m">
            Initial screens
          </h2>

          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/start.html">Start page</a>
            </li>
          <!--  <li>
              <a class="govuk-link" href="/forms/DS01/steps-to-complete">Steps to complete</a>
            </li>-->
            <li>
              <a class="govuk-link" href="/who-you-have-to-tell">Who to tell about the company closing</a>
            </li>
            <li>
              <a class="govuk-link" href="/core/sign-in">Sign in to Companies House</a>
            </li>
            <li>
              <a class="govuk-link" href="/which-company-to-close#">What is the company number?</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/confirm-the-company">Confirm this is the correct company
              </a>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/confirm-the-company-cannot-file">Confirm this is the correct company (cannot close)</a>
            </li>
            <li>
              <a class="govuk-link" href="/core/company-authentication">Company authentication</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">
            Single director
          </h2>

          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director-single">
                Which director are you?</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-method-single">How will the directors be signing the application?</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-check-before-you-submit-single">Check your answers</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/alternative-to-docusign">Sign the application (DocuSign replacement)</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">
            Multiple directors
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director">
                Which director are you?
              </a>
            </li>

            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director-to-authorise">Which directors will be signing the application?</a>
            </li>

            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-method">How will the directors be signing the application?</a>
            </li>
            <li>

              <li>
                <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-method-v2">How will the directors be signing the application? – updated</a>
              </li>
              <li>

              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-check-before-you-submit-alt">Check your answers </a>
            </li>


            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/alternative-to-docusign-multi-alt">Sign the application (DocuSign replacement)</a>
            </li>

            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/wait-to-sign-primary-status-alt">The directors must sign the application before you can submit it (applicant is a director)</a>
            </li>

            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/wait-to-sign-primary-status-alt-3">The directors must sign the application before you can submit it (applicant is a director) - updated</a>
            </li>

            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/wait-to-sign-primary-status-not-director">The directors must sign the application before you can submit it (applicant is not a director)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/wait-to-sign-other-signer-status">Check the application's progress with the person who is submitting it</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/email-not-authorised">Email not authorised to sign the application - updated</a>
            </li>
          </ul>
          <h2 class="govuk-heading-m">
            Final screens
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/payment-review">Payment review</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-payment-method">How do you want to pay for the application?</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/payment">Payment (GOV Pay credit/debit card)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/pay-on-account">Payment (CH Account)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/payment-confirm">Payment confirmation</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director/confirmation">
                Application submitted
              </a>
            </li>

          </ul>

          <h2 class="govuk-heading-m">
            Emails
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/emails/sole-director-submission-confirmation">Request to close... has been submitted
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/director-needs-to-sign">Director needs to sign
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/director-needs-to-sign-v2">Director needs to sign - upated
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/primary-director-everyone-has-signed-notification">All directors have now signed
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/primary-director-everyone-has-signed-notification-v2">All directors have now signed – updated
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/primary-director-has-signed">You have signed (primary director)
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/primary-director-has-signed-v2">You have signed (primary director) - with status table
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/someone-has-signed">A co-signer has signed
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/complete-the-application">Complete the application (Old service to new service migration)
              </a>
            </li>
</ul>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">
            Older versions
          </h2>
          <ul class="govuk-list">
            <li><a href="https://dissolution-prototype-v1.herokuapp.com/">Older version of this prototype</a>
  </ul>

            </div>
        </div>
    </main>

  {% endblock %}
